/*!
 * Project_Name: Themezy Lawyers Template
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/* line 45, sass/libs/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, sass/libs/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, sass/libs/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, sass/libs/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 97, sass/libs/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, sass/libs/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  text-transform: none;
}

/* line 119, sass/libs/_normalize.scss */
body {
  margin: 0;
}

/* line 132, sass/libs/_normalize.scss */
a {
  background: transparent;
}
/* line 139, sass/libs/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, sass/libs/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 159, sass/libs/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, sass/libs/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, sass/libs/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, sass/libs/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, sass/libs/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, sass/libs/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, sass/libs/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, sass/libs/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, sass/libs/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, sass/libs/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, sass/libs/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, sass/libs/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, sass/libs/_normalize.scss */
q {
  quotes: "\201C""\201D""\2018""\2019";
}

/* line 269, sass/libs/_normalize.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 277, sass/libs/_normalize.scss */
small {
  font-size: 80%;
}

/* line 284, sass/libs/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 292, sass/libs/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 296, sass/libs/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 348, sass/libs/_normalize.scss */
img {
  border: 0;
}

/* line 357, sass/libs/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 367, sass/libs/_normalize.scss */
figure {
  margin: 0;
}

/* line 384, sass/libs/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 395, sass/libs/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 409, sass/libs/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 424, sass/libs/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 434, sass/libs/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 447, sass/libs/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 460, sass/libs/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, sass/libs/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 483, sass/libs/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 493, sass/libs/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 502, sass/libs/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 511, sass/libs/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 522, sass/libs/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 528, sass/libs/_normalize.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global Styles */
/* line 5, sass/libs/_global.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #888;
  background-color: #161719;
}

/* line 17, sass/libs/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #ffffff;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 25, sass/libs/_global.scss */
a {
  text-decoration: none;
}

/* line 29, sass/libs/_global.scss */
address {
  font-style: normal;
}

/* line 31, sass/libs/_global.scss */
p {
  margin-top: 0;
}

/* line 33, sass/libs/_global.scss */
.text-center {
  text-align: center;
}

/* line 36, sass/libs/_global.scss */
form input:not([type="submit"]),
form select,
form textarea {
  border: 2px solid #28292c;
  padding: 10px 10px 10px 40px;
  background-position: 10px;
  background-repeat: no-repeat;
  display: block;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 52, sass/libs/_global.scss */

form input:not([type="submit"]):active,
form input:not([type="submit"]):focus,
form textarea:active,
form textarea:focus,
form select:active,
form select:focus {
  border-color: #ac8074;
}
form input:not([type="submit"]):hover,
form select:hover,
form textarea:hover {
  border-color: #cc2c00;
}
/* line 57, sass/libs/_global.scss */
form input[type="submit"] {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #ac8074;
  color: #ac8074;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 0.875em;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 68, sass/libs/_global.scss */
form input[type="submit"]:hover,
form input[type="submit"]:active,
form input[type="submit"]:focus {
  background-color: #ac8074;
  color: #111113;
}

/* line 75, sass/libs/_global.scss */
.more-link {
  padding: 20px 30px 20px 0;
  background: url(images/arrow.png) no-repeat right center;
  color: #ac8074;
  font-size: 14px;
  font-size: 0.875em;
}

/* Reusable Components Style */
/* button */
/* line 6, sass/libs/_components.scss */
.button {
  display: inline-block;
  padding: 15px 35px;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75em;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 16, sass/libs/_components.scss */
.button.invert {
  background-color: white;
  color: #ac8074;
  font-weight: 700;
}
/* line 22, sass/libs/_components.scss */
.button:hover {
  border-color: #ac8074;
  color: #ac8074;
}

/* fullwidth-block */
/* line 29, sass/libs/_components.scss */
.fullwidth-block {
  padding: 20px 0 20px;
  overflow: hidden;
}

/* Latest News*/
/* line 35, sass/libs/_components.scss */
.latest-news {
  border: 2px solid #28292c;
  padding: 30px;
}
/* line 39, sass/libs/_components.scss */
.latest-news h3 {
  font-size: 14px;
  font-size: 0.875em;
}
/* line 43, sass/libs/_components.scss */
.latest-news ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 48, sass/libs/_components.scss */
.latest-news ul li {
  border-bottom: 1px solid #28292c;
  padding: 10px 0;
}
/* line 52, sass/libs/_components.scss */
.latest-news ul li:last-child {
  border-bottom: none;
}
/* line 55, sass/libs/_components.scss */
.latest-news .entry-title {
  font-size: 16px;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-transform: initial;
  margin-bottom: 0;
}
/* line 60, sass/libs/_components.scss */
.latest-news .entry-title a {
  color: #ac8074;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 64, sass/libs/_components.scss */
.latest-news .entry-title a:hover {
  color: #c9aca4;
}
/* line 69, sass/libs/_components.scss */
.latest-news .date {
  font-size: 14px;
  font-size: 0.875em;
}

/* feature */
/* line 75, sass/libs/_components.scss */
.feature {
  margin-bottom: 50px;
  position: relative;
}
/* line 79, sass/libs/_components.scss */
.feature header {
  margin-bottom: 30px;
}
/* line 82, sass/libs/_components.scss */
.feature header .feature-icon,
.feature header .feature-title-copy {
  display: inline-block;
  vertical-align: top;
}
/* line 86, sass/libs/_components.scss */
.feature header .feature-icon {
  margin-right: 20px;
}
/* line 88, sass/libs/_components.scss */
.feature header .feature-title {
  font-size: 24px;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0;
  line-height: 1;
}
/* line 94, sass/libs/_components.scss */
.feature header .feature-subtitle {
  font-size: 12px;
  font-size: 0.75em;
  color: #888;
  text-transform: uppercase;
}
/* line 101, sass/libs/_components.scss */
.feature-grid .feature {
  background: #111113;
  margin-bottom: 0;
  padding: 50px 30px !important;
  text-align: center;
}
/* line 109, sass/libs/_components.scss */
.feature-grid .feature:nth-child(even) {
  background-color: #242424;
}
/* line 112, sass/libs/_components.scss */
.feature-grid .feature .feature-image {
  margin-bottom: 20px;
}
/* line 113, sass/libs/_components.scss */
.feature-grid .feature .feature-title {
  font-size: 36px;
  font-size: 2.25em;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}
/* line 119, sass/libs/_components.scss */
.feature-grid .feature p {
  margin-bottom: 0;
}
/* line 122, sass/libs/_components.scss */
.feature.boxed {
  padding: 30px;
  background-color: #111113;
  margin-bottom: 30px;
}
/* line 127, sass/libs/_components.scss */
.feature.boxed p {
  margin-bottom: 0;
}

/* line 131, sass/libs/_components.scss */
.quote-section {
  margin: 30px auto;
  padding: 50px 100px;
  border: 3px solid #28292c;
  background: #000;
}
@media screen and (max-width: 640px) {
  /* line 131, sass/libs/_components.scss */
  .quote-section {
    padding: 30px;
  }
}

/* line 142, sass/libs/_components.scss */
.quote-slider .slides {
  *zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 4, sass/libs/_mixins.scss */
.quote-slider .slides:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
/* line 148, sass/libs/_components.scss */
.quote-slider .slides li {
  width: 100%;
  margin-right: -100%;
  float: left;
  padding-left: 200px;
  position: relative;
}
@media screen and (max-width: 640px) {
  /* line 148, sass/libs/_components.scss */
  .quote-slider .slides li {
    padding: 0;
  }
}
/* line 159, sass/libs/_components.scss */
.quote-slider .slides blockquote {
  margin: 0;
}
/* line 162, sass/libs/_components.scss */
.quote-slider .slides .quote-avatar {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 640px) {
  /* line 162, sass/libs/_components.scss */
  .quote-slider .slides .quote-avatar {
    position: relative;
    margin: 0 auto 30px;
  }
}
/* line 171, sass/libs/_components.scss */
.quote-slider .slides p {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 1.6;
}
/* line 175, sass/libs/_components.scss */
.quote-slider .slides cite,
.quote-slider .slides span {
  font-size: 12px;
  font-size: 0.75em;
  font-weight: 500;
}
/* line 179, sass/libs/_components.scss */
.quote-slider .slides cite {
  font-style: normal;
  text-transform: uppercase;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
}
/* line 184, sass/libs/_components.scss */
.quote-slider .slides span {
  color: #4c4c4c;
  text-transform: uppercase;
}
/* line 190, sass/libs/_components.scss */
.quote-slider .flex-control-paging {
  margin-left: 200px;
  list-style: none;
  padding-left: 0;
}
@media screen and (max-width: 640px) {
  /* line 190, sass/libs/_components.scss */
  .quote-slider .flex-control-paging {
    margin-left: 0;
  }
}
/* line 198, sass/libs/_components.scss */
.quote-slider .flex-control-paging li {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  position: relative; /* a{
				display: block;
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				margin: auto;
				width: 10px;
				height: 10px;
				overflow: hidden;
				text-indent: -9999px;
				cursor: pointer;

			} */
}
/* line 206, sass/libs/_components.scss */
.quote-slider .flex-control-paging li a {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #111113;
  overflow: hiddne;
  text-indent: -9999px;
  box-shadow: 0 0 0 2px #4c4c4c;
  cursor: pointer;
}
/* line 216, sass/libs/_components.scss */
.quote-slider .flex-control-paging li a.flex-active {
  background: #ac8074;
  box-shadow: 0 0 0 2px #ac8074;
}

/* Timeline */
/* line 242, sass/libs/_components.scss */
.timeline {
  border-top: 3px solid #28292c;
  *zoom: 1;
}
/* line 4, sass/libs/_mixins.scss */
.timeline:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media screen and (max-width: 640px) {
  /* line 242, sass/libs/_components.scss */
  .timeline {
    margin-left: 30px;
    border-top: 0;
    border-left: 3px solid #28292c;
  }
}
/* line 252, sass/libs/_components.scss */
.timeline .milestone {
  width: 25%;
  padding: 30px 15px 0;
  float: left;
  text-align: center;
  position: relative;
}
/* line 260, sass/libs/_components.scss */
.timeline .milestone:before {
  content: " ";
  width: 29px;
  height: 29px;
  background: url(images/bullet.png) no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 640px) {
  /* line 252, sass/libs/_components.scss */
  .timeline .milestone {
    padding: 0 0 15px 30px;
    text-align: left;
    float: none;
    width: 100%;
  }
  /* line 280, sass/libs/_components.scss */
  .timeline .milestone:before {
    left: -15px;
    right: auto;
    top: 0;
    bottom: 0;
    margin: 0;
  }
}
/* line 289, sass/libs/_components.scss */
.timeline .milestone .year {
  color: #ac8074;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-size: 24px;
  font-size: 1.5em;
  margin-bottom: 20px;
}
/* line 295, sass/libs/_components.scss */
.timeline .milestone .milestone-title {
  color: white;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 0.875em;
}

/* line 303, sass/libs/_components.scss */
.cta {
  border: 3px solid #28292c;
  padding: 50px;
  text-align: center;
  font-size: 24px;
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 311, sass/libs/_components.scss */
.cta a {
  color: #ac8074;
}

/* Counter */
/* line 314, sass/libs/_components.scss */
.counter {
  border: 2px solid #28292c;
  padding: 30px 100px;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
}
@media screen and (max-width: 640px) {
  /* line 314, sass/libs/_components.scss */
  .counter {
    padding: 30px;
  }
}
/* line 321, sass/libs/_components.scss */
.counter .num,
.counter .copy {
  display: inline-block;
  vertical-align: middle;
}
/* line 325, sass/libs/_components.scss */
.counter .num {
  font-size: 200px;
  font-size: 12.5em;
  color: #ac8074;
  font-weight: 600;
  line-height: 0.8;
  margin: 0 30px 0 0;
  position: relative;
  top: -20px;
}
@media screen and (max-width: 640px) {
  /* line 325, sass/libs/_components.scss */
  .counter .num {
    font-size: 150px;
    font-size: 9.375em;
  }
}
/* line 336, sass/libs/_components.scss */
.counter .copy {
  font-size: 36px;
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}
/* line 341, sass/libs/_components.scss */
.counter .copy span {
  display: block;
}
/* line 343, sass/libs/_components.scss */
.counter .copy span:first-child {
  color: #ac8074;
}

/* Team */
/* line 349, sass/libs/_components.scss */
.team {
  text-align: center;
  margin-bottom: 30px;
  width: 25%;
  padding: 0 15px;
  float: left;
}
@media screen and (max-width: 990px) {
  /* line 349, sass/libs/_components.scss */
  .team {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  /* line 349, sass/libs/_components.scss */
  .team {
    width: 100%;
  }
}
/* line 359, sass/libs/_components.scss */
.team .team-image {
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
  display: inline-block;
}
/* line 367, sass/libs/_components.scss */
.team .team-image img {
  display: block;
}
/* line 371, sass/libs/_components.scss */
.team .team-name {
  font-size: 24px;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
}
/* line 378, sass/libs/_components.scss */
.team .team-desc {
  font-size: 14px;
  font-size: 0.875em;
  text-transform: uppercase;
  color: #ac8074;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}
/* line 387, sass/libs/_components.scss */
.team p {
  font-size: 1em !important;
}

/* line 395, sass/libs/_components.scss */
.contact-form {
  margin-bottom: 50px;
}
/* line 398, sass/libs/_components.scss */
.contact-form #name {
  background-image: url("images/icon-user.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  /* line 398, sass/libs/_components.scss */
  .contact-form #name {
    background-image: url("images/icon-user@2x.png");
    background-size: 16px 18px;
  }
}
/* line 399, sass/libs/_components.scss */
.contact-form #email {
  background-image: url("images/icon-envelope-alt.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  /* line 399, sass/libs/_components.scss */
  .contact-form #email {
    background-image: url("images/icon-envelope-alt@2x.png");
    background-size: 16px 11px;
  }
}
/* line 400, sass/libs/_components.scss */
.contact-form #website {
  background-image: url("images/icon-globe.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  /* line 400, sass/libs/_components.scss */
  .contact-form #website {
    background-image: url("images/icon-globe@2x.png");
    background-size: 16px 16px;
  }
}
/* line 401, sass/libs/_components.scss */
.contact-form #message {
  background-image: url("images/icon-pencil.png");
  background-position: 10px 10px;
  min-height: 200px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  all and (-o-min-device-pixel-ratio: 3 / 2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
  /* line 401, sass/libs/_components.scss */
  .contact-form #message {
    background-image: url("images/icon-pencil@2x.png");
    background-size: 16px 17px;
  }
}

/* line 408, sass/libs/_components.scss */
.map {
  min-height: 350px;
  margin-bottom: 30px;
}

/* line 414, sass/libs/_components.scss */
.contact-info strong {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875em;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  display: block;
  margin-bottom: 10px;
}
/* line 423, sass/libs/_components.scss */
.contact-info .contact a {
  display: block;
  color: inherit;
}
/* line 428, sass/libs/_components.scss */
.contact-info p {
  font-size: 14px;
  font-size: 0.875em;
}

/* line 10, sass/libs/bootstrap-grid/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
/* line 4, sass/libs/_mixins.scss */
.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media (min-width: 768px) {
  /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  /* line 10, sass/libs/bootstrap-grid/_grid.scss */
  .container {
    width: 1270px;
  }
}

/* line 30, sass/libs/bootstrap-grid/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
/* line 4, sass/libs/_mixins.scss */
.container-fluid:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

/* line 39, sass/libs/bootstrap-grid/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1;
}
/* line 4, sass/libs/_mixins.scss */
.row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

/* line 11, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.feature-grid .feature,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.feature-grid .feature,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 35, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 50, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 40, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 60, sass/libs/bootstrap-grid/_mixins.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .feature-grid .feature,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-1 {
    width: 8.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-2 {
    width: 16.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-3 {
    width: 25%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-4 {
    width: 33.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-5 {
    width: 41.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-6,
  .feature-grid .feature {
    width: 50%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-7 {
    width: 58.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-8 {
    width: 66.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-9 {
    width: 75%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-10 {
    width: 83.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-11 {
    width: 91.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-12 {
    width: 100%;
  }
  /* line 55, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-0 {
    right: auto;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-3 {
    right: 25%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-6 {
    right: 50%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-9 {
    right: 75%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-pull-12 {
    right: 100%;
  }
  /* line 45, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-0 {
    left: auto;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-3 {
    left: 25%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-6 {
    left: 50%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-9 {
    left: 75%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-push-12 {
    left: 100%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .feature-grid .feature,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-1 {
    width: 8.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-2 {
    width: 16.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-3 {
    width: 25%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-4,
  .feature-grid .feature {
    width: 33.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-5 {
    width: 41.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-6 {
    width: 50%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-7 {
    width: 58.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-8 {
    width: 66.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-9 {
    width: 75%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-10 {
    width: 83.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-11 {
    width: 91.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-12 {
    width: 100%;
  }
  /* line 55, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-0 {
    right: auto;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-3 {
    right: 25%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-6 {
    right: 50%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-9 {
    right: 75%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-pull-12 {
    right: 100%;
  }
  /* line 45, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-0 {
    left: auto;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-3 {
    left: 25%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-6 {
    left: 50%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-9 {
    left: 75%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-push-12 {
    left: 100%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-1 {
    width: 8.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-2 {
    width: 16.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-3 {
    width: 25%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-4 {
    width: 33.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-5 {
    width: 41.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-6 {
    width: 50%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-7 {
    width: 58.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-8 {
    width: 66.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-9 {
    width: 75%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-10 {
    width: 83.33333%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-11 {
    width: 91.66667%;
  }
  /* line 35, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-12 {
    width: 100%;
  }
  /* line 55, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-0 {
    right: auto;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-3 {
    right: 25%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-6 {
    right: 50%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-9 {
    right: 75%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  /* line 50, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-pull-12 {
    right: 100%;
  }
  /* line 45, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-0 {
    left: auto;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-3 {
    left: 25%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-6 {
    left: 50%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-9 {
    left: 75%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }
  /* line 40, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-push-12 {
    left: 100%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  /* line 60, sass/libs/bootstrap-grid/_mixins.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@-ms-viewport {
  width: device-width;
}
/* line 125, sass/libs/bootstrap-grid/_grid.scss */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

/* line 132, sass/libs/bootstrap-grid/_grid.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 114, sass/libs/bootstrap-grid/_grid.scss */
  .visible-xs {
    display: block !important;
  }
  /* line 117, sass/libs/bootstrap-grid/_grid.scss */
  table.visible-xs {
    display: table;
  }
  /* line 118, sass/libs/bootstrap-grid/_grid.scss */
  tr.visible-xs {
    display: table-row !important;
  }
  /* line 119, sass/libs/bootstrap-grid/_grid.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 150, sass/libs/bootstrap-grid/_grid.scss */
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 155, sass/libs/bootstrap-grid/_grid.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  /* line 160, sass/libs/bootstrap-grid/_grid.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 114, sass/libs/bootstrap-grid/_grid.scss */
  .visible-sm {
    display: block !important;
  }
  /* line 117, sass/libs/bootstrap-grid/_grid.scss */
  table.visible-sm {
    display: table;
  }
  /* line 118, sass/libs/bootstrap-grid/_grid.scss */
  tr.visible-sm {
    display: table-row !important;
  }
  /* line 119, sass/libs/bootstrap-grid/_grid.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 169, sass/libs/bootstrap-grid/_grid.scss */
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 174, sass/libs/bootstrap-grid/_grid.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 179, sass/libs/bootstrap-grid/_grid.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 114, sass/libs/bootstrap-grid/_grid.scss */
  .visible-md {
    display: block !important;
  }
  /* line 117, sass/libs/bootstrap-grid/_grid.scss */
  table.visible-md {
    display: table;
  }
  /* line 118, sass/libs/bootstrap-grid/_grid.scss */
  tr.visible-md {
    display: table-row !important;
  }
  /* line 119, sass/libs/bootstrap-grid/_grid.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 188, sass/libs/bootstrap-grid/_grid.scss */
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 193, sass/libs/bootstrap-grid/_grid.scss */
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 198, sass/libs/bootstrap-grid/_grid.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  /* line 114, sass/libs/bootstrap-grid/_grid.scss */
  .visible-lg {
    display: block !important;
  }
  /* line 117, sass/libs/bootstrap-grid/_grid.scss */
  table.visible-lg {
    display: table;
  }
  /* line 118, sass/libs/bootstrap-grid/_grid.scss */
  tr.visible-lg {
    display: table-row !important;
  }
  /* line 119, sass/libs/bootstrap-grid/_grid.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 207, sass/libs/bootstrap-grid/_grid.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  /* line 212, sass/libs/bootstrap-grid/_grid.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  /* line 217, sass/libs/bootstrap-grid/_grid.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  /* line 125, sass/libs/bootstrap-grid/_grid.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 125, sass/libs/bootstrap-grid/_grid.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 125, sass/libs/bootstrap-grid/_grid.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 125, sass/libs/bootstrap-grid/_grid.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 125, sass/libs/bootstrap-grid/_grid.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 114, sass/libs/bootstrap-grid/_grid.scss */
  .visible-print {
    display: block !important;
  }
  /* line 117, sass/libs/bootstrap-grid/_grid.scss */
  table.visible-print {
    display: table;
  }
  /* line 118, sass/libs/bootstrap-grid/_grid.scss */
  tr.visible-print {
    display: table-row !important;
  }
  /* line 119, sass/libs/bootstrap-grid/_grid.scss */
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* line 251, sass/libs/bootstrap-grid/_grid.scss */
.visible-print-block {
  display: none !important;
}
@media print {
  /* line 251, sass/libs/bootstrap-grid/_grid.scss */
  .visible-print-block {
    display: block !important;
  }
}

/* line 258, sass/libs/bootstrap-grid/_grid.scss */
.visible-print-inline {
  display: none !important;
}
@media print {
  /* line 258, sass/libs/bootstrap-grid/_grid.scss */
  .visible-print-inline {
    display: inline !important;
  }
}

/* line 265, sass/libs/bootstrap-grid/_grid.scss */
.visible-print-inline-block {
  display: none !important;
}
@media print {
  /* line 265, sass/libs/bootstrap-grid/_grid.scss */
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  /* line 125, sass/libs/bootstrap-grid/_grid.scss */
  .hidden-print {
    display: none !important;
  }
}
/* Header Styles */
/* line 5, sass/layout/_header.scss */
.site-header {
  background-color: #111113;
  color: white;
  padding: 30px 0;
  margin-bottom: 30px;
}

/* line 13, sass/layout/_header.scss */
#branding {
  float: left;
}
/* line 16, sass/layout/_header.scss */
#branding .branding-copy,
#branding .logo {
  display: inline-block;
  vertical-align: middle;
}
/* line 20, sass/layout/_header.scss */
#branding .logo {
  margin-right: 10px;
}
/* line 23, sass/layout/_header.scss */
#branding .site-title {
  margin: 0;
  font-size: 14px;
  font-size: 0.875em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}
/* line 30, sass/layout/_header.scss */
#branding .site-title a {
  color: inherit;
}
/* line 32, sass/layout/_header.scss */
#branding .site-description {
  font-size: 12px;
  font-size: 0.75em;
  color: #888;
  font-family: Arial, sans-serif;
}

/* line 39, sass/layout/_header.scss */
.menu-toggle {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 20px;
  font-size: 1.25em;
  display: none;
}
@media screen and (max-width: 990px) {
  /* line 39, sass/layout/_header.scss */
  .menu-toggle {
    display: block;
  }
}
@media screen and (min-width: 991px) {
  /* line 39, sass/layout/_header.scss */
  .menu-toggle {
    display: none !important;
  }
}

/* line 51, sass/layout/_header.scss */
.mobile-navigation {
  clear: both;
  padding: 50px 20px 0;
  display: none;
}
@media screen and (min-width: 991px) {
  /* line 51, sass/layout/_header.scss */
  .mobile-navigation {
    display: none !important;
  }
}
/* line 58, sass/layout/_header.scss */
.mobile-navigation .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 64, sass/layout/_header.scss */
.mobile-navigation .menu a {
  color: white;
  padding: 10px 20px;
  display: block;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  border-left: 4px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-size: 0.75em;
}
/* line 75, sass/layout/_header.scss */
.mobile-navigation .menu .current-menu-item a,
.mobile-navigation .menu .menu-item:hover a {
  color: #ac8074;
  border-left: 4px solid #ac8074;
}

/* line 81, sass/layout/_header.scss */
.main-navigation {
  float: right;
}
/* line 84, sass/layout/_header.scss */
.main-navigation .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 991px) {
  /* line 84, sass/layout/_header.scss */
  .main-navigation .menu {
    display: block !important;
  }
}
@media screen and (max-width: 990px) {
  /* line 84, sass/layout/_header.scss */
  .main-navigation .menu {
    display: none;
  }
}
/* line 93, sass/layout/_header.scss */
.main-navigation .menu-item {
  display: inline-block;
  padding: 0 10px;
}
/* line 97, sass/layout/_header.scss */
.main-navigation .menu-item a {
  padding: 10px 0;
  border-bottom: 3px solid transparent;
  color: white;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* Sidebar Styles */
/* line 3, sass/layout/_content.scss */
.content .entry-title {
  font-size: 30px;
  font-size: 1.875em;
  line-height: 1.3;
  font-weight: 600;
  margin: 0 0 50px;
}
/* line 10, sass/layout/_content.scss */
.content p {
  margin-bottom: 40px;
}
/* line 14, sass/layout/_content.scss */
.content figure {
  text-align: center;
  margin-bottom: 40px;
}
/* line 17, sass/layout/_content.scss */
.content figure img {
  max-width: 100%;
}
/* line 22, sass/layout/_content.scss */
.content figure.block img {
  width: 100%;
  max-width: 100%;
}

/* line 30, sass/layout/_content.scss */
.text-center {
  text-align: center;
}

/* line 31, sass/layout/_content.scss */
.text-left {
  text-align: left;
}

/* line 32, sass/layout/_content.scss */
.text-right {
  text-align: right;
}

/* line 35, sass/layout/_content.scss */
.hero img {
  display: block;
  max-width: 100%;
}
/* line 39, sass/layout/_content.scss */
.hero .hero-content {
  margin-top: 40%;
}
@media screen and (max-width: 990px) {
  /* line 39, sass/layout/_content.scss */
  .hero .hero-content {
    margin-top: 0;
    padding: 50px 0;
  }
}
/* line 47, sass/layout/_content.scss */
.hero .hero-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  font-size: 2.25em;
}
/* line 52, sass/layout/_content.scss */
.hero p {
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Footer Styles */
/* line 5, sass/layout/_footer.scss */
.site-footer {
  background-color: #111113;
  padding: 50px 0;
  text-align: center;
}

/* line 11, sass/layout/_footer.scss */
.subscribe-form {
  margin-bottom: 30px;
  background-color: #0c0c0d;
  padding: 30px;
  text-align: left;
}
/* line 17, sass/layout/_footer.scss */
.subscribe-form form {
  display: table;
  width: 100%;
}
/* line 20, sass/layout/_footer.scss */
.subscribe-form form label,
.subscribe-form form .control {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  /* line 20, sass/layout/_footer.scss */
  .subscribe-form form label,
  .subscribe-form form .control {
    display: block;
    width: 100%;
  }
}
/* line 28, sass/layout/_footer.scss */
/* .subscribe-form form label {
  text-align: left;
  width: 350px;
  line-height: 1.2;
} */
@media screen and (max-width: 640px) {
  /* line 28, sass/layout/_footer.scss */
  .subscribe-form form label {
    margin-bottom: 30px;
    width: 100%;
  }
}
/* line 37, sass/layout/_footer.scss */
.subscribe-form form label span {
  display: block;
  font-size: 20px;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 42, sass/layout/_footer.scss */
.subscribe-form form label span:last-child {
  color: #ac8074;
}
/* line 46, sass/layout/_footer.scss */
.subscribe-form form input,
.subscribe-form form button {
  vertical-align: middle;
  outline: none;
  margin-bottom: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 52, sass/layout/_footer.scss */
.subscribe-form form .control {
  position: relative;
}
/* line 53, sass/layout/_footer.scss */
.subscribe-form form input {
  border: 4px solid #28292c;
  border-right: none;
  background-color: transparent;
  padding: 10px 100px 10px 20px;
  width: 100%;
  height: 70px;
  color: #888;
}
/* line 61, sass/layout/_footer.scss */
.subscribe-form form input:hover,
.subscribe-form form input:hover + button,
.subscribe-form form input:focus,
.subscribe-form form input:focus + button {
  border-color: #ac8074;
}
/* line 66, sass/layout/_footer.scss */
.subscribe-form form button {
  height: 70px;
  padding: 15px 20px 10px;
  background-color: transparent;
  border: 4px solid #28292c;
  margin-left: -10px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 76, sass/layout/_footer.scss */
.subscribe-form form button:focus {
  border-color: #ac8074;
}

/* line 83, sass/layout/_footer.scss */
.social-links {
  margin: 50px 0;
}
/* line 85, sass/layout/_footer.scss */
.social-links a {
  color: #ac8074;
  font-size: 20px;
  font-size: 1.25em;
  display: inline-block;
  padding: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 92, sass/layout/_footer.scss */
.social-links a:hover,
.social-links a:focus {
  color: #c9aca4;
}

/* line 98, sass/layout/_footer.scss */
.copy {
  font-size: 14px;
  font-size: 0.875em;
  color: #494949;
}

/*# sourceMappingURL=style.css.map */

.client-form-title {
  font-size: 1.5em;
  margin: 1.83em 0;
  color: #ffffff;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-weight: 600;
}
.tab-content {
  display: none;
}
.tab-active {
  display: block;
}
.product-details-tabs-btn {
  display: flex;
  justify-content: space-between;
}
.product-details-tabs-btn > button {
  width: 33.1%;
  height: 50px;
}
.product-details-tabs-btn > button {
  border: none;
  background: inherit;
  color: white;
  background-color: #161719;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
/* .btn-active {
  background: red;
} */
/* line 109, sass/layout/_header.scss */
.main-navigation .menu-item.current-menu-item a,
.main-navigation .menu-item:hover a {
  border-bottom: 3px solid #ac8074;
}
.tab-btn {
  width: 50%;
}
button.btn-active,
button.tab-btn:hover {
  border-bottom: 5px solid #ac8074;
  color: rgb(235, 133, 133);
  transition: all 0.3s;
}
.admin-form-links > a {
  display: block;
  margin-left: 10px;
  color: coral;
}
.admin-form-links > a:hover {
  color: #fff;
  transition: all 0.3s;
}
.admin-form-links {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.client-form button {
  margin-top: 20px;
}
.cerere__aproba-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.client {
  padding: 30px 10px;
  width: 40%;
  border: 1px solid steelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.avocat {
  padding: 30px 10px;
  width: 40%;
  border: 1px solid steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cerere {
  width: 100%;
  border: 3px solid darkgray;
  border-radius: 4px;
  background: #000;
  padding: 15px;
  margin: 20px 0px;
}
.client input:not([type="submit"]) {
  width: 3%;
  border: 2px solid red;
  border-radius: 4px;
  width: 0;
}
input[type="checkbox"] {
  flex: none;
}
.avocat label {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avocat input:not([type="submit"]) {
  position: relative;
  top: 5px;
  width: 3%;
  border: 2px solid red;
  border-radius: 4px;
  /* width: 0; */
}
.client label {
  text-align: left;
  clear: both;
  float: left;
  margin-right: 15px;
  width: 99%;
  color: #fff;
  font-weight: 700;
}
.avocat label {
  text-align: left;
  clear: both;
  float: left;
  margin-right: 15px;
  width: 99%;
  color: #fff;
  font-weight: 700;
}
.cerere button {
  display: block;
  margin-top: 20px;
}
.cerere span {
  font-weight: 400;
  color: #888;
}
.avocat span {
  font-weight: 400;
  color: #888;
}
.cerere .btn {
  display: flex;
  justify-content: flex-end;
}
.avocat .error {
  position: relative;
  right: 0;
}
.title-admin {
  font-size: 1.5em;
  margin: 1.83em 0;
  color: #ffffff;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-weight: 600;
}
.cerere__procesata {
  border: 1px solid cornsilk;
  padding: 10px;
  margin: 10px;
}
.cerere__neprocesata {
  width: 100%;
  border: 1px solid blanchedalmond;
  border-radius: 4px;
  background: #000;
  padding: 15px;
  margin: 20px 0px;
}
td {
  border: 1px solid blanchedalmond;
  text-align: center;
  padding: 10px 0px;
}
th {
  color: #fff;
  border: 1px solid blanchedalmond;
  text-align: center;
  padding: 5px 0px;
}
tr {
  width: 100%;
}
.box-description {
  width: 25%;
}
